<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    {% block content %}
    <form id="myform" >
        {% csrf_token %}
        <label>nom</label>
        <input type="text" name="nom" id="id_nom"><br>
        <label>prenom</label>
        <input type="text" name="prenom" id="id_prenom"><br>
        <label>age</label>
        <input type="number" name="age" id="id_age"><br>
        <button type="submit" id="ajouter"> Ajouter</button>
    </form>
    {% endblock %}

    {% block javascript %}
    <script src="https://code.jquery.com/jquery-3.1.1.min.js"></script>
    <script>
        // $(document).ready(function() {
        $(document).on('submit', '#myform', function (e) {
            e.preventDefault();
    
            let nom = $("#id_nom").val();
            let prenom = $("#id_prenom").val();
            let age = $("#id_age").val();
            $.ajax({
                url: "/ajax/ajouter_etudiant0/",
                type: "GET",
                data: {
                    nom: nom,
                    prenom: prenom,
                    age: age
                },
                dataType: "text",
                success: function(data) {
                }
            });
        });
        // });
    </script>
    {% endblock %}
</body>

</html>